@use 'sass:list';

$ships: 'carrier', 'battleship', 'cruiser', 'submarine', 'destroyer';
@for $y from 0 through 4 {
  @for $x from 0 through 4 {
    .cell-#{list.nth($ships, $y + 1)}-#{$x} {
      background: url("/static/battleship.png") (-$x*50px) (-$y*50px);
      width: 50px;
      height: 50px;
    }
  }
}

.cell-empty {
  background: url("/static/square.png") 0 0;
  width: 50px;
  height: 50px;
}