<div id="state">
    {% if not finished and not can_move %}
    {% include "partials/start-poll.html" %}
    {% endif %}
    <div class="text-center pb-8">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <p>{{ prompt }}</p>
    </div>
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        {% for player in players %}
        {% set b=loop.index0 %}
        <div>
            <table>
                {% for row in player.board %}
                <tr>
                    {% set y=loop.index0 %}
                    {% for cell in row %}
                    <td class="border-solid border-2 border-blue-500">
                        <div class="{{ cell.background }} relative z-0">
                            <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" class="absolute z-1">
                                <circle cx="25" cy="25" r="5" class="{{ cell.status }}"></circle>
                            </svg>
                            {% if cell.target %}
                            <button hx-post="{{ url_for('target', game=game, board=b, x=loop.index0, y=y) }}" hx-target="#state" hx-swap="outerHTML" class="cell-empty absolute z-2">
                            </button>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <div class="flex flex-row">
                {% for status in player.sunk %}
                <div class="cell-empty">
                    <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25" cy="25" r="5" class="{{ status }}"></circle>
                    </svg>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>