<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/battleship.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
        <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js" type="text/javascript"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/head-support.js" type="text/javascript"></script>
        <title>Battleship</title>
    </head>
    <body hx-ext="head-support">
        <div class="flex h-screen bg-gradient-to-b from-blue-100 to-red-100">
            <div class="mx-auto my-auto">
                {% include "components/%s.html" % page %}
            </div>
        </div>
    </body>
</html>